{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.prenom }} {{ user.nom }}</h1>
    <h2>Liste des articles de l'auteur</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
            {% for post in user.posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{{ path('single_post', {id: post.id}) }}">{{ post.title }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Il n'y a pas d'articles associés</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
